* {
    box-sizing: border-box;
  }
body {
    background-color: black;
    background-image: url(2.jpg);
    background-size: 100%;
    /*color: azure;*/
    text-align: center;
    font-weight: bold;
    
    
}
h1{
    display: inline-block;
    font-family: 'Apple Chancery', cursive;
    font-weight: bold;
    font-size: 60px;
    color: rgb(240, 236, 219);
    text-align: center;
    text-shadow: 5px 5px 8px rgba(157, 243, 44, 0.8); /* Sombras */
    /*background-color: rgba(18, 19, 19, 0.8);*/
    border-radius: 10px;
    /*padding: 5px;*/
    
}
.key p{
    /* Para que los elementos estén en una línea horizontal */
    display: inline-block; /* o display: inline; */
    font-size: 30px;
    color: rgb(165, 4, 144);
    background-color: rgba(18, 19, 19, 0.8);
    border: 2px solid;
    border-color: aquamarine;
    
}
.numeros {
    
    display: inline-block;
    text-align: center;
    border: 5px solid;
    background-color: rgba(18, 19, 19, 0.8);
    border-color: rgb(9, 243, 224);
    border-radius: 10px;
    padding: 10px;
    
}
.fila {
    margin-bottom: 5px;
}
.digito {
    background-color: rgb(6, 255, 6);
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#display {
    display: inline-block;
    text-align: center;
    border: 2px solid;
    border-color:rgb(202, 21, 21);
    font-size: 30px;   
    border-radius: 10px;
    margin-right: 5px;
    color: red;
    background-color: rgba(18, 19, 19, 0.8);
    padding: 5px;
    /*background: linear-gradient(rgb(78, 224, 230),rgba(249, 250, 249, 0.8));*/
    
   
}

#start{
    background-color: rgb(6, 255, 6);
    width: 50px;
    height: 25px;
    margin-right: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#stop{
    background-color: rgb(6, 255, 6);
    width: 50px;
    height: 25px;
    margin-right: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#reset{
    background-color: rgb(6, 255, 6);
    width: 50px;
    height: 25px;
    margin-right: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
/*@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}*/