* {
    box-sizing: border-box;
  }
body {
    background-color: black;
    color:rgb(197, 197, 152);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */
h1 {
  text-align: center;
  font-family: 'Apple Chancery', cursive;
  font-weight: bold;
  color: white;
}

img {
  width: 100%;
  height: auto;
    
}
p {
  text-align:justify ;
  color: yellowgreen;

}
.iresponsive {
    padding: 0 6px;
    float:left;
    width: 50%;
  }
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellowgreen; /* Color de fondo del botón */
    color:whitesmoke; /* Color del texto */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}
