/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
body{
  background-image: url(mickey_fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color: aliceblue;
  
  }  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
font-family: 'Courier New', Courier, monospace;
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    padding: 10;
    border: solid;
    border-color: rgba(0, 255, 255, 0.3);
    color:whitesmoke;
    background-color: rgb(196, 245, 238,0.3);
   

}

#c2 {
  padding: 10;
  border: solid;
  border-color: rgba(252, 255, 52, 0.3);
  color:whitesmoke;
  background-color: rgb(196, 245, 238,0.3);
  color: black;
  
}
h1 {
  text-align: center;
  font-family: 'Apple Chancery', cursive;
  font-weight: bold;
  color: black;
  border: solid;
  background: linear-gradient(rgb(75, 250, 250),rgb(116, 230, 116));
  padding: 25px;
}
h2 {
  text-align: center;
  background: linear-gradient(white,aqua);
  /*margin: 5px; */
  width: 30%;
  padding: 5px;
  border: solid;
  border-color:rgb(117, 235, 195);
  border-radius: 25px;
  
}
p {
  margin: 10px;
  padding: 8px; /* Relleno */
  text-align: justify;
  
  

}
/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

/*img {
    /*width: 100%;
    height: auto;*/
    
    


.iresponsive {
    padding: 0 6px;
    float:left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */