* {
    box-sizing: border-box;
  }
body {
    text-align: center;
    background-color: rgb(167, 243, 233);
}
/* 
Estilos para el campo de tiro
*/  

#ctiro {
    /*background-color: lightblue;*/
    background: url(campo6.jpg);
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
  
}
h1 {
    font-family: 'Courier New', Courier, monospace, cursive;
    font-weight: bold;
    color: rgb(3, 138, 131);
    text-shadow: 5px 5px 5px white; /* Sombras */
    border-radius: 10px;
}
#fin{
    background-color: rgba(18, 19, 19, 0.8);
    padding: 5px;
    border: 2px solid;
    border-color: yellowgreen;
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}