* {
    box-sizing: border-box;
  }

  body{
    background-color: aquamarine;
    background: url(fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
@font-face {
    font-family: Montserrat;
    src: url(./Montserrat-Regular.ttf);
}
h1 {
    font-size: 36px;
    text-align: center; 
    font-family:'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px rgb(193, 149, 233);; /* Sombras */
    color: rgb(235, 230, 240);
    
}
.comenzar{
    background-color:  #4eb3c7 ;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
.reiniciar{
    background-color:   #fa4965  ;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

html {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(325deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    font-family: Montserrat;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    margin-top: 100px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14pt;
}

.disabled {
    color: #757575;
}

.display {
    color: #fafbff;
    font-size: 14pt;
    text-align: center;
}

.grid-container {
    position: relative;
}

.tablero,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    /* background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.tablero {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 20px;
}

.grid-container.flipped .tablero {
    transform: rotateY(180deg) rotateZ(50deg);
}

.grid-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    background-image: url(carta.jpg);
    background-position: center;
    background-size: cover;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.highlight {
    color: #50fc00;
    font-weight: bold;
}


/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositivos móviles */


  @media screen and (max-width: 600px) {
    .game {
        width: 90%; /* Ajusta el ancho del contenedor principal */
        margin: 0 auto; /* Centra el contenedor en la pantalla */
    }

    .tablero {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Ajusta el número de columnas en función del ancho de la pantalla */
    }
}
